/*Gistshame default fondid, fontide suursed ja värvid */
body {
    background-color: #232323;
    font-family: 'DefaultFont', Iosevka, sans-serif;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
}

/* Headers */
h {
    color: #ffffff;
    font-family: Iosevka, sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}

.h-green {
    color: #19eb81;
}

.h-blue {
    color: #3466c0;
}

.h-red {
    color: #f72f35;
}

.h-black {
    color: #232323;
}

/* Paragraphs */
p {
    font-family: 'ParagraphFont', Iosevka, sans-serif;
    color: #FFFFFF; /* Valge */
    font-size: 15px;
    line-height: 10px;
}

.p-green {
    color: #19eb81;
}

.p-blue {
    color: #3466c0;
}

.p-red {
    color: #f72f35;
}

/* Buttons */
btn {
    background: #19eb81;
    border-bottom: 3px inset rgba(0, 0, 0, .5);
    border-left: 3px inset rgba(0, 0, 0, .5);
    border-right: 3px inset rgba(255, 255, 255, .5);
    border-top: 3px inset rgba(255, 255, 255, .5);
    color: #232323;
    font-family: "Iosevka Semibold";
    font-kerning: 100;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 15;
    margin: 10px;
    min-width: 130px;
    padding: 4px;
    text-transform: uppercase;
    width: auto;

    &:focus,
    &:hover {
        background: #3466c0;
    }
}

.btn-red {
    background-color: #f8585d;
    color: #FFFFFF;

    &:focus,
    &:hover {
        background: #f72f35;
    }
}

/* Padding */
.padding-10 {
    padding-bottom: 10px;
}

.padding-25 {
    padding-bottom: 25px;
}

.padding-50 {
    padding-bottom: 50px;
}

.padding-60 {
    padding-bottom: 60px;
}

/* Style for the image link */
.image-link {
    text-decoration: none; /* Remove underline on hover (optional) */
    position: relative; /* Required for pseudo-elements */

    /* Transition for smooth hover effect */
    transition: transform 0.5s ease-in-out;
}

/* Hover effect for the image link */
.image-link:hover {
    transform: scale(1.2); /* Increase the size on hover (adjust the scale factor as needed) */
}

.page-container {
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
    /*width: 700px; !* Set your desired width in pixels *!*/
}

.hoverable-link {
    cursor: pointer;
}

.image-size {
    width: 75%;
}

.hoverable-link {
    cursor: pointer;
}

/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(35, 35, 35, 0.9); /* Background color with transparency */
    position: fixed;
    z-index: 1050;
    tab-index: color ;
    border: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-dialog {
    font-family: "Iosevka Medium";
    position: relative;
    max-width: 350px; /* Adjust the maximum width of the modal dialog */
    width: 100%;
    background-color: #232323;
    border: none;
    border-radius: 0;
    transform: translate(0, -50%); /* Center the modal vertically */
    align-items: center;
    top: 5%;

}

.modal-header {
    font-family: "Iosevka Medium";
    font-size: 14px;
    background-color: #19eb81;
    border: none;
    border-radius: 0;
    color: #232323;
    text-align: center;

}
.modal-body {
    font-family: "Iosevka Medium";
    font-size: 14px;
    background-color: #19eb81;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: #232323;
    align-items: center;
}

.modal-footer {
    background-color: #19eb81;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog .btn-close {
    color: #3466c0; /* Change the color of the close button */
    font-size: 15; /* Change the size of the close button */
    font-family: "Iosevka Medium";
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    margin-left: auto; /* Push the button to the right */
}
container text-center {
    border-radius: 0;
}

.modal-body input[type="text"],
.modal-body input[type="password"] {
    border-radius: 0;
}



/*login home view fill fields styles*/
.narrow-input {
    width: 300px;
    align-content: center;
    margin: 0 auto;
    border-radius: 0;

}
.form-label {
    color: #19eb81;
    border-radius: 0;

}
.form-control::placeholder {
    color: #C0C0C0;
    border-radius: 0;

}


.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the avatar images as circles */
.avatar-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px; /* Adjust the margin as needed */
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}