 /*Gistshame default fondid, fontide suursed ja värvid */
body {
    background-color: #232323;
    font-family: 'DefaultFont', Iosevka, sans-serif;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
}

/* Headers */
h {
    color: #ffffff;
    font-family: Iosevka, sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}
.h-green {
    color: #19eb81;
}
.h-blue {
    color: #3466c0;
}
.h-red {
    color: #f72f35;
}

/* Paragraphs */
p {
    font-family: 'ParagraphFont', Iosevka, sans-serif;
    color: #FFFFFF; /* Valge */
    font-size: 15px;
    line-height: 10px;
}
.p-green {
    color: #19eb81;
}
.p-blue {
    color: #3466c0;
}
.p-red {
    color: #f72f35;
}

/* Buttons */
btn {
    background: #19eb81;
    border-bottom: 3px inset rgba(0,0,0,.5);
    border-left: 3px inset rgba(0,0,0,.5);
    border-right: 3px inset rgba(255,255,255,.5);
    border-top: 3px inset rgba(255,255,255,.5);
    color: #232323;
    font-family: "Iosevka Semibold";
    font-kerning: 100;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 15;
    margin: 10px;
    min-width: 150px;
    padding: 4px;
    text-transform: uppercase;
    width: auto;
    &:focus,
    &:hover {
        background: #3466c0;
    }
}
 .btn-red {
     background-color: #f8585d;
     color: #FFFFFF;
     &:focus,
     &:hover {
         background: #f72f35;
     }
 }

/* Padding */
 .padding-10 {
     padding-bottom: 10px;
 }
 .padding-25 {
     padding-bottom: 25px;
 }
 .padding-50 {
     padding-bottom: 50px;
 }
 .padding-60 {
     padding-bottom: 60px;
 }

/* Style for the image link */
.image-link {
    text-decoration: none; /* Remove underline on hover (optional) */
    position: relative; /* Required for pseudo-elements */

    /* Transition for smooth hover effect */
    transition: transform 0.5s ease-in-out;
}

/* Hover effect for the image link */
.image-link:hover {
    transform: scale(1.2); /* Increase the size on hover (adjust the scale factor as needed) */
}


/* Additional styles */
.my-custom-class {
    /* Define styles for elements with class "my-custom-class" */
}

.hoverable-link {
    cursor: pointer;
}

.image-size{
    width: 75%;
}

.hoverable-link {
    cursor: pointer;
}

/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgb(35, 35, 35); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translateX(-50%); /* Teisendab X-telje piki -50% võrra */
}

 /*.page-container {*/
 /*    margin: 0 auto; !* Center the container horizontally *!*/
 /*    text-align: center;*/
 /*    !*width: 700px; !* Set your desired width in pixels *!*!*/
 /*}*/
